.node {
  cursor: pointer;
  /*stroke: #3182bd;*/
  /*stroke-width: 1.5px;*/
}

/*.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}*/

.link {
  stroke: #ccc;
}

body {
  background: #DFF2FF;
}

h1 {
  color: #660099;
}

div.tooltip {
  position: absolute;
  text-align: center;
  /*width: 60px;*/
  height: 6em;
  padding: 2px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}